main {
    background-color: rgb(232, 232, 232);
}

.signup__container {
    display: grid;
    place-content: center;

    height: 100vh;
}

.signup__header {
    text-align: center;

    margin-bottom: 16px;
}

.signup__header h1 {
    font-size: 22px;
    font-weight: 600;
}

.signup__header > p {
    font-size: 14px;
    color: #121212;
}

.signup__form {
    display: grid;

    padding: 150px 90px;
    border-radius: 25px;
    gap: 12px;
    background-color: rgb(255, 255, 255);
}

.boton_registro{
    width: 100px;
    display: grid; 
    margin-left: 100px;
    padding: 10px;
    border-radius: 5px;
border: 1px ;
background-color: #c6c9c6;
}


input{
    width: 300px;
    background-color: #b3aeae;
    border: 1px;    
    padding: 20px;
    border-radius: 5px;
}

